@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mario</h1>
    <p>videojuego</p>
    <img src="~/img/mariobros.jpg" alt="imagen de mario width="400" height="300" />
</div>
